speechrecognition
edge-tts
pygame
gtts
groq
fastapi
uvicorn
supabase
python-dotenv
requests
psutil
pyautogui
websockets
pyperclip
pynput
pygetwindow
playwright
GPUtil
mss
opencv-python
google-api-python-client
google-auth-httplib2
google-auth-oauthlib